.btnWide{
    width: 100%;
}

.fizz {
    color: rgb(17, 92, 153);
    font-weight:bold;
}
.buzz {
    color: rgb(153, 17, 40);
    font-weight:bold;
}

.fizzBuzz {
    color: rgb(15, 107, 50);
    font-weight:bolder;
}